{% extends 'users/base.html' %}

{% block mainpanel %}

<script>
    var project_add_map;
</script>

	<div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						<h4 class="page-title">当前项目: {{project.project_name}}</h4>
						<div class="row">
                                              

								<div class="col-md-12">
									<div class="card">
										<div class="card-header">
											<h4 class="card-title"> {{ project.project_name }} </h4>
											<p class="card-category">{{ project.project_introduction }}</p>
										</div>
										<div class="card-body">
											<p class="demo">
												<button class="btn btn-default"> {{ project.project_type }} </button>

												<button class="btn btn-primary">{{ project.project_location }}</button>

												<button class="btn btn-info">{{ project.project_host }}</button>

												<button class="btn btn-success">{{ project.project_time1 }} - {{project.project_time2}}</button>		

											</p>
                                        </div>
                                   
                                        <script> project_add_map = {{project.id}} </script>
                                        <button class="btn btn-link" onclick="window.open('/add_activity')" >添加活动</button>

                                        <!--<button class="btn btn-link" onclick="openwindow4(project_add_map)" >添加地图</button> -->
                                        <button class="btn btn-link" onclick="window.open('/map.html')" >添加地图</button>

									</div>
								</div>

						</div>
					</div>

				</div>
    </div>
    
    <script>
            function openwindow4(project_add_map) {
                
                var data_ = {
                    "project_id": project_add_map
                };
    
                //var ele = document.getElementById("setmap");
                //alert(ele.innerHTML);
                //ele.innerHTML = project_id_selected;
    
                $.ajax({
                    url: "/set_project_add_map/",
                    type: "POST",
                    data: JSON.stringify(data_),
                    //data: {"project_id": project_id_selected},
                    dataType: 'json',
                    async: false,
                    success: function(data){

                        //alert("OK");
                    },
                    error: function(err){
                        //alert("error");
                    }
                });
    
                window.open('/map.html');
    
            }
    </script>

{% endblock %}